<div ng-include="'partials/navbar'"></div>

<!-- <div class="container">
	<ul>
		<li ng-repeat="tweet in tweets">{{ tweet.sentiment }}</li>
	</ul>
</div>
 -->
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>
  <div class="panel-body">
    <div class="grid">
      <div class="grid-item" ng-repeat="tweet in tweets"></div>
    </div>
  </div>

  <!-- List group -->
  <div class="grid">
  	<div class="grid-item"></div>
  </div>
</div>