<div ng-include="'partials/navbar'"></div>

<!-- Input Row -->
<div class="row">
	<div class="col-xs-12">
		<div class="input-group">

			<!-- Panel input -->
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click="track(term)">Track</button>
			</span>
			<input type="text" class="form-control" ng-model="term">
		</div>
	</div>
</div>

<div class="row separator"></div>

<!-- Tweet List -->
<div class="row">
	<div class="col-xs-12"><h3>Tweets:</h3></div>
</div>
<div class="row">
	<!-- List out tweets -->
	<div class="col-md-4 tweet-box" ng-repeat="tweet in tweetList">
		<h5> {{ tweet.text }}</h5>
		<h5> - {{ tweet.user.screen_name }}</h5>
	</div>
</div>


<!-- Grid and tracking row -->
<div class="row">
	<!-- Tracking Sidebar -->
	<div class="col-md-4">

		<h3>Tracking:</h3>
		<!-- Term List -->
		<ul class="list-group">
		  <li class="list-group-item clearfix" ng-repeat="term in terms">
		    {{ term }}
		    <!-- Remove button -->
		    <button class="pull-right btn-xs btn-danger" style="border:none;" ng-click="untrack(term)"><span class="glyphicon glyphicon-minus"></span></button>
		  </li>
		</ul>
	</div>

	<!-- The Grid -->
	<div class="col-md-8">
		<h3>Sentiment:</h3>
		<div class="grid">
			<div class="grid-item" ng-repeat="tweet in tweets" ng-class="tweet.analysis.docSentiment.type"></div>
		</div>
	</div>
</div>

